<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="style.css">
    <title>Registration</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
          <div class="inner">
              <a href="index.html" class="logo">
                <span class="symbol"><img src="images/logo.png" alt="" /></span><span class="title">SIT120 Switch Game Reviewer</span>
              </a>
          </div>
        </header>


         <aside>
                   <ul>
          <li><a href="Index.html">Home</a></li>
          <li><a href="Games.html">Games</a></li>
		  <li><a href="Registration.html">Registration</a></li>
          <li><a href="contact.html">Contact Me</a></li>
                   </ul>
                  </aside>

        <div id="main">
          <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="#">
                  <div class="fields">
                    <div class="field half">
                      <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="field half">
                      <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                      <textarea name="message" id="message" placeholder="Message"></textarea>
                    </div>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" value="Send" class="primary" /></li>

                    
                  </ul>
                </form>
              </section>
              <div id="todoapp" class=fields>
              <div class="field half">
                <input v-model="inputValue" type="text" @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="Opinion column">
              </div>
              <section class = "main">
                <ul class="todo-list">
                  <li class="todo" v-for="(item,index) in list">
                    <div>
                      <span>{{index+1}}.</span>
                      <label>{{item}}</label>
                    </div>
                  </li>
          </ul>
        </section>
        </div>
          </div>
        </div>

      <footer>
        <div class="inner">
          <p>&copy; SIT120 Switch Game Reviewer</p>
      </div>
      </footer>   
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#todoapp",
      data: {
        list:[
        ],
        inputValue:"Opinion1: "
      },
      methods: {
        add:function(){
          this.list.push(this.inputValue);
        }
      }
    })
  </script>
</html>